.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 370px;
    left: 60px;
  }
  
  .baloon {
    position: absolute;
    z-index: 4;
    top: 217px;
    width: 190px;
    left: 220px;
  }
  
  .speach {
    font-size: 16px;
    position: absolute;
    z-index: 5;
    top: 240px;
    left: 228px;
    color: red;
  }
  
  .bowser { 
    width: 200px;
    position: absolute;
    z-index: 3;
    top: 335px;
    left: 340px;
  }