p {
    font-family: monospace;
}

.paragrafo {
   color: green;
}

.descricao {
    background-color: red;
    color: black;
    
}

p.descricao {
    border: 5px solid yellow;
    padding: 10px 10px 10px;
}

ol li p {
    background-color: green;
    color: white;
}

ul.list-style li p {
    background-color: green;
    color: white;
}