/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
  font-size: 20px;
  margin: 0 1.5%;
  }
  
  article {
  
  }
  
  h1 {
  font-size: 25px;
  }
  
  h2 {
  
  }

.img {
  margin-top: 20px;
}
  
  main {
  
  }
  
  section {
  
  }
  
  figure {
      margin: 0;
  }
  
  figcaption {
    font-size: .8em;
  }
  
  @media screen and (max-width: 630px) {
    body {
      background-color: red;
      font-size: 25px;
      margin: 25px 6%;
    }

    img {
      width: 45%;
      margin-right: 4.5%;
    }

    h1 {
      font-size: 40px
    }

    h2 {
      font-size: 30px
    }

  }

  @media screen and (min-width: 1020px) {
    body {
      background-color: aqua;
      max-width: 1130px;
    }
  }