body {
    font-family: fantasy;
    color: rgb(3, 174, 213);
}

#praia {
    width: 450px;
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 1;
}

#elias {
    width: 250px;
    position: absolute;
    top: 45px;
    left: 100px;
    z-index: 2;
}

#oculos {
    width: 100px;
    position: absolute;
    top: 125px;
    left: 166px;
    z-index: 3;
    transform: rotate(-6deg)
}

h1 {
    position: absolute;
    z-index: 4;
    left: 30px;
    border: 3px;
    border: 2px solid black;
}

#song {
    position: absolute;
    z-index: 5;
    top: 300px;
}

.coqueiro {
    width: 80px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}