* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

#container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  background-color: #323433;
  color: white;
}

#bio {
  display: flex;
  justify-content: center;
}

h3 {
  cursor: pointer;
}

img {
  cursor: pointer;
}

#techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin: 30px auto 30px;
}

.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(241, 241, 241);
  margin: 5px;
  border-radius: 8px;
  width: 200px;
  height: 200px;
}

#footer {
  display: flex;
  justify-content: center;
}
