ol li {
    background-color: yellow;
}

ol li:nth-of-type(even) {
    color: green;
}

ol li:nth-of-type(odd) {
    text-transform: uppercase;
}

li:hover {
    font-size: 17px;
}

h1, h2 {
    color: red;
}

h1 em, h2 em {
    font-size: 40px;
    border: 1px solid black;
    padding: 10px 10px;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

/* Este seletor coloca a cor de font azul em todos os elementos exceto do 4 em diante */

#linguagens li:not(:nth-child(n +4)) {
    color: blue;
}

.java {
    background-color: pink;
}

.developer li a:hover {
    font-weight: bold;
    color: rgb(82, 82, 19);
}