body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}


h1, h3 {
  color: #0a7e51;
}

.trybe-green {
  color: #0a7e51;
}
/* 
#exemplo {
  color: coral;
}
.class-mg {
  color: dodgerblue;
} */

.hero-title {
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
}

.section-title {
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
}

.picture {
  border-radius: 100%;
}

.student-testimonial-name {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.button {
  color: white;
  background-color: #11a36a;
  padding: 15px 30px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 4px;
  text-decoration: none;
}

.header {
 background-image: url(/images/smiling-image.jpg);
 background-size: cover;
 background-position: 50% 25%;
 padding: 60px 30px 40px;
}

.header-content {
  width: 50%;
  padding-left: 60px;
}

.header-content p {
  width: 80%;
}

.text-centered {
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 84px 30px;
}

.section-title {
  margin-bottom: 4rem;
}

.student-testimonial {
  width: 30%;
  display: inline-block;
  text-align: center;
  margin: 22px;
  vertical-align: middle;
}

.quem-somos {
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 84px 30px;
}

.fundadores {
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: #f5f5f5 0px 1px 7px 4px;
  width: 30%;
  display: inline-block;
  margin: 22px;
}

.formacao {
  background-color: #f5f5f5;
}

.formacao-left {
  float: left;
}

.formacao-right {
  float: right;
}

.footer {
  clear: both;
}

