body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-image: url(https://images4.alphacoders.com/864/thumb-1920-864924.jpg);
    background-repeat: no-repeat;  
}

*   {
    Padding:0;
    Margin:0;  
}

.title {
    margin-top: 40px;
    background-color: rgb(25, 134, 173);
    box-shadow: #08e4e4 0px 1px 7px 4px;
    padding: 20px;
    font-size: 60px;
    color: rgb(199, 223, 230);
}

.subtitle {
    margin-top: 60px;
    border: 3px solid black;
    position: flex;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
    border-radius: 12px;
    background-color: rgb(181, 208, 218);
    padding: 8px 10px;
    font-size: 20px;
    font-weight: bold;
}

.one-color {
    font-size: 30px;
    position: absolute;
    top: 400px;
    left: 90px;
    border: 3px solid rgb(154, 191, 247);
    margin-left: auto;
    margin-right: auto;
    width: 13%;
    border-radius: 12px;
    background-color: white;
    padding: 8px 10px;
}

.one-color:hover {
    background-color: #8FBFE0;
}

.one-color:active {
    color: white;
}

.two-color {
    font-size: 35px;
    position: absolute;
    top: 399px;
    left: 400px;
    border: 3px solid rgb(154, 191, 247);
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    padding: 8px 10px;
    border-radius: 12px;
    background-color: white;
}

.two-color:hover {
    background-color: #7C77B9
}

.two-color:active {
    color: white;
}

.three-color {
    position: absolute;
    top: 386px;
    left: 745px;
    font-size: 35px;
    border: 3px solid rgb(154, 191, 247);
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 20px 20px;
    background-color: white;
    border-radius: 12px;
}

.three-color:hover {
    background-color: #1D8A99
}

.three-color:active {
    color: white
}

.four-color {
    position: absolute;
    top: 401px;
    left: 1215px;
    font-size: 35px;
    border: 3px solid rgb(154, 191, 247);
    border-left: auto;
    border-right: auto;
    width: 13%;
    border-radius: 12px;
    padding: 6px 10px;
    background-color: white;
}

.four-color:hover {
    background-color: #081e1f;
    color: white;
}

.five-color {
    position: absolute;
    top: 401px;
    left: 1540px;
    font-size: 35px;
    border: 3px solid rgb(154, 191, 247);
    border-left: auto;
    border-right: auto;
    width: 13%;
    border-radius: 12px;
    padding: 6px 10px;
    background-color: white;
}

.five-color:hover {
    background-color: #14fff7;
}

.five-color:active {
    color: white;
}